body {
    padding:0;
    margin:0;
    font-family: 'Indie Flower', cursive;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

/* Classes for background image, changing depending on which category was selected. */

.body-background {
    background-image: url('../images/quiz.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.body-background-general-knowledge {
    background-image: url('../images/generalknowledge.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.body-background-sports {
    background-image: url('../images/sports.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.body-background-history {
    background-image: url('../images/history.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.body-background-food-and-drink {
    background-image: url('../images/foodanddrink.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
/* background classes end. */

/* style for the game area and all the buttons used within the page. */

.game-area {
    width:800px;
    max-width: 70%;
    max-height: 60%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    background-color: rgba(240, 248, 255, 0.8); 
    margin-top: 5%;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    background-color: white;
    border: 2px solid;
    border-color: black;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;

}

.btn:hover {
    background-color: yellow;
}

.main-btn {
    font-size: 30px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 25px
    
}

/* game area and button style ends*/

/* class .hide used to both hide and display areas on the page using JavaScript to add/remove class depending on situation. */

.hide {
    display:none;
}

/* Text styles. These styles are use to style written the HTML text. */

.quiz-title, .questions, .details {
    text-align: center;
    padding: 0;
    margin: 0;
}

.questions, .details, .end-screen-details {
    font-size: 22px;
    font-weight: bold;
    padding: 15px;
}

.score {
    text-align: center;
    padding: 0;
    margin-top: 10%;
    font-size: 16px;
    font-weight: bold;

}

.question-category {
    font-size:22px;

}

.end-screen {
    text-align:center;
}

.end-screen-important {
    text-decoration: underline;
    font-size: 40px;
}

/* Media styling to effect all devices with a MAX WIDTH of 700px.*/

@media only screen and (max-width: 700px) {

/* Media styling for the game area and buttons used within the page*/

    .game-area {
        max-width: 95%;
        max-height: 80%;
    }

    .button-grid {
        margin: 10px 0;
        gap: 4px;
    }

    .btn {
        font-size: 15px;
        padding: 4px 6px;
        border-radius: 2px;
    }

    .main-btn {
        font-size: 17px;
        padding: 5px 10px;
        margin: 8px;
    }

/* Media styling for written HTML text. */

    .end-screen-details {
        font-size: 15px;
        padding: 10px;
    }

    .end-screen-important {
        font-size: 25px;
    }

}